extends ../layouts/error.pug

block config
    - var pageTitle = "404 Error"

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    p.lead This requested URL was not found on this server.
                    a(href='/')
                        i.fas.fa-arrow-left.me-1
                        | Return to Home
