extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Activity Log'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .card.mb-4
            .card-body.
              To be added... soon!
