extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = "Consoles"
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug

        style.
            .card.subsequentCard {
                background-color: #ffb759;
            }
            .card.mainCard {
                background-color: #FC8C2C;
            }
            .icon img {
                filter: invert(51%) sepia(12%) saturate(0%) hue-rotate(181deg) brightness(89%) contrast(87%);
            }
            .icon.active img {
                filter: invert(49%) sepia(44%) saturate(749%) hue-rotate(84deg) brightness(101%) contrast(79%);
            }
            
        script.
            function clicked(active, fc, network) {
                active = active == 'False';
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "POST", "/api/toggle/" + fc, false );
                xmlHttp.send( [token, +active, network] );
                if (xmlHttp.responseText != 'success!') {
                } else {
                  location.reload();
                }
            }
            function deleteCode(fc, network) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "POST", "/api/delete/" + fc, false );
                xmlHttp.send([token, network]);
                if (xmlHttp.responseText == 'success!') {
                    location.reload();
                }
            }

        .card.text-center.shadow-lg.border-0.rounded-lg.mainCard(style = 'margin-bottom: 25px;')
            .card-header.d-flex.justify-content-around
                b Enable
                b Consoles
                b Delete
            .card-body
                html {% for console in data['consoles'] %}
                .card.text-center.g-0.shadow-lg.border-0.rounded-lg.subsequentCard(style = 'margin-bottom: 25px;')
                    .card-header
                        b Console {{ loop.index0 + 1 }} ({{ console['fc'] }} on {{ console['network'].capitalize() }})
                    .card-body.m-0.p-0
                        .row.g-0.m-0.p-3
                            .col-2.my-auto
                                a(class = "icon {{ 'active' if console['active'] }}" href = "javascript:clicked('{{ console['active'] }}', {{ console['fc'].replace('-', '') }}, '{{ console['network'] }}')")
                                    html {% if not console['active'] %}
                                    img(src = '{{ url_for("static",filename="assets/img/star.svg") }}' width = '50vmax')
                                    html {% else %}
                                    img(src = '{{ url_for("static",filename="assets/img/star-fill.svg") }}' width = '50vmax')
                                    html {% endif %}
                            .col-8.my-auto
                                a(href = "/user/{{ console['fc'].replace('-', '') }}?network={{ console['network'] }}" style = 'text-decoration: none;')
                                    b {{ console['username'] }}
                            .col-2.my-auto
                                a(href = "javascript:deleteCode({{ console['fc'].replace('-', '') }}, '{{ console['network']}}');" style = 'text-decoration: none;')
                                    b Delete
                html {% endfor %}
        .card.text-center.shadow-lg.border-0.rounded-lg
            .card-header
                b Add a new console?
            .card-body.d-flex.align-items-center.justify-content-center
                .col-lg-10
                    a.btn.btn-primary.btn-block.input-block-level.form-control(href = '/register')
                      | Register Friend Code
