extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Home';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .row

            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-area.me-1
                        | Actively Playing Users...
                    .card-body
                        html {% for i in data['active'] %}
                        a(href = "/user/{{ i['friendCode'] }}", style = 'text-decoration: none; color: #000;').card.mb-4
                            .card-body.d-flex.justify-content-between.align-items-center
                                div.d-flex.flex-column.align-items-center(style = 'padding-right: 10px')
                                    img(src = "{{ i['mii']['face'] }}", width = '100vw', style = 'background: linear-gradient(0deg, rgb(255, 198, 147) 0%, rgb(254, 245, 239, 0.1) 100%);')
                                    | {{ i['username'] }}
                                div.d-flex.flex-column.align-items-end.text-right.text-break(style = 'padding-left: 10px')
                                    img(src = "{{ i['game']['icon_url'] }}", width = '50vw', height = '50vw')
                                    p {{ i['game']['name'] }}
                        html {% endfor %}
                        

            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-bar.me-1
                        | Fun things!
                    .card-body
