extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Home';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .row

            .col-xl-4
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-area.me-1
                        a(href = '/active' style = 'text-decoration: none;')
                            b {{ data['num'] }}
                            | Actively Playing Users...
                    .card-body
                        html {% for i in data['active'] %}
                        a(href = "/user/{{ i['friendCode'] }}?network={{ i['network'] }}", style = 'text-decoration: none; color: #000;').card.mb-4
                            .card-body.d-flex.flex-row.flex-wrap.justify-content-center.align-items-begin
                                div.d-flex.flex-column.align-items-center(style = 'padding-right: 10px; padding-bottom: 10px;')
                                    | User:
                                    img(src = "{{ i['mii']['face'] }}", height = '100vw', style = 'background: linear-gradient(0deg, rgb(255, 198, 147) 0%, rgb(254, 245, 239, 0.1) 100%);')
                                    | {{ i['username'] }}
                                html {% if not i['game']['name'] in ('Home Screen', 'Unknown 3DS App') %}
                                div.d-flex.flex-column.align-items-center.text-center.text-break(style = 'padding-left: 10px;')
                                    | Currently playing game:
                                    img(src = "{{ i['game']['banner_url'] }}", height = '100vw')
                                    p(style = 'width: 200px;') {{ i['game']['name'] }}
                                html {% endif %}
                            .card-footer.small.text-center.text-muted
                                | Click here to view this user's profile!
                        html {% endfor %}
            .col-xl-4
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-bar.me-1
                        a(href = '/roster' style = 'text-decoration: none;')
                            | Recently Joined Users...
                    .card-body
                        html {% for i in data['new'] %}
                        a(href = "/user/{{ i['friendCode'] }}?network={{ i['network'] }}", style = 'text-decoration: none; color: #000;').card.mb-4
                            .card-body.d-flex.flex-row.flex-wrap.justify-content-center.align-items-begin
                                div.d-flex.flex-column.align-items-center(style = 'padding-right: 10px; padding-bottom: 10px;')
                                    | User:
                                    img(src = "{{ i['mii']['face'] }}", height = '100vw', style = 'background: linear-gradient(0deg, rgb(255, 198, 147) 0%, rgb(254, 245, 239, 0.1) 100%);')
                                    | {{ i['username'] }}
                                html {% if i['game'] %}
                                div.d-flex.flex-column.align-items-center.text-center.text-break(style = 'padding-left: 10px;')
                                    | Currently playing game:
                                    img(src = "{{ i['game']['banner_url'] }}", height = '100vw')
                                    p(style = 'width: 200px;') {{ i['game']['name'] }}
                                html {% endif %}
                            .card-footer.small.text-center.text-muted
                                | Click here to view this user's profile!
                        html {% endfor %}
