extends ../layouts/error.pug

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 Invalid Auth Code
                    p.lead Verification has failed
                    .small
                      | (Press the back button and then wait a few minutes before pressing continue again if you know that you've entered the authentication code correctly)
