extends ../layouts/error.pug

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 Invalid Password
                    p.lead Your password must be equal to or more than 5 characters, and less than or equal to 32 characters. Only alphanumeric is allowed.
                    a(href='index.html')
                        i.fas.fa-arrow-left.me-1
                        | Return to Home
