extends ../layouts/authentication.pug

block config
    - var pageTitle = 'Login'

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Login
                    .card-body
                        form(action='/login{{ data["redirectFrom"] }}', method='POST')
                            .form-floating.mb-3
                                input#inputFC.form-control(type='text', placeholder='1234-5678-9012', name='fc', value='')
                                label(for='inputFC') Friend Code
                            .form-floating.mb-3
                                input#inputPassword.form-control(type='password', placeholder='', name='password', value='')
                                label(for='inputPassword') Password
                            .d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(href='register.html') Don't have an account?
                                input.btn.btn-primary(type='submit', value='Login')
                    .card-footer.text-center
                      .small
                        | By using this service, you agree to the
                        a(href='/terms.html') Terms and Services
