extends ../layouts/authentication.pug

block config
    - var pageTitle = 'Register'



block content
    .container
      
        .row.justify-content-center
            .col-lg-6
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Register
                    .card-body
                        h5.text-center Before registering, add the bot's friend code to your 3DS' friendlist:
                        p.lead.text-center
                            b {{ data['botFC'] }}
                        
                        form(action = '/login', method = 'POST')
                            input(type='hidden' name="network" value='{{ data["network"] }}') 
                            // 
                                the above is a hack, but it'll work
                            .form-floating.mb-3
                                input#inputFC.form-control(type = 'text', placeholder = '1234-5678-9012', name = 'fc', value = '')
                                label(for = 'inputFC') Friend Code
                            .d-flex.align-items-center.justify-content-end.mt-4.mb-0
                                input.btn.btn-primary(type = 'submit', value = 'Register')
                    .card-footer.text-center
                        .small
                          | By using this service, you agree to the
                          a(href='/terms') Terms of Service
