extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = "Settings"
    - var sidenavStyle = 'sb-sidenav-dark'
    - var settings = true;

block content
    .container-fluid.px-4
        include includes/page-header.pug

        .d-flex.justify-content-center
            .col-lg-10
                .card.text-center
                    .card-header
                        b Settings
                    .card-body
                        | There's nothing here!
