extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Settings'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4.justify-content-between.align-items-center
        include includes/page-header.pug
        .card.mb-4#secrety
            .card-body.
              Nothing here at the moment!
