extends ../layouts/error.pug

block config
    - var pageTitle = "Success!";

block content
  
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h3 Your account has been created!
                    p.lead But it'll take a minute or two for your profile to be loaded.
                    a(href='/{{ data["url"] }}?network={{ data["network"]}}')
                        | Try Profile
                    br
                    a(href='/consoles')#addToConsoles
                        | Go to Consoles
                        br
                    a(href='/')
                        i.fas.fa-arrow-left.me-1
                        | Return to Home

    script.
        var fc = '{{ data["url"].replace("user/", "") }}';
        var network = '{{ data["network"] }}'
        function addConsole() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "POST", "/api/toggle/" + fc, false );
            xmlHttp.send( [token, 1, network] );
        }
        onload = (event) => {
          if (document.cookie.includes('token')) {
              addConsole();
          } else {
              document.getElementById('addToConsoles').remove();
          }
        };
        
