extends ../layouts/error.pug

block config
    - var pageTitle = "Success!";

block content
    script.
        // Thanks https://www.quirksmode.org/js/cookies.html
        var date = new Date();
        date.setTime(date.getTime() + (1000 * 24 * 60 * 60 * 1000)); // Days, hours, minutes, seconds, milliseconds
        expires = '; expires=' + date.toUTCString();
        document.cookie = 'FC' + '=' + ('{{ data['fc'] }}' || '')  + expires + '; path=/';
  
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h3 Your account has been created!
                    p.lead But it'll take a minute or two for your profile to be loaded.
                    a(href='/{{ data["url"] }}')
                        | Try Profile
                    br
                    a(href='/')
                        i.fas.fa-arrow-left.me-1
                        | Return to Home
