extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = "{{ data['title'] }}"
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug

        .row.gy-3
            html {% for i in data['users'] %}
            a.col-sm-3.col-6(href = '/user/{{ i["friendCode"] }}?network={{ i["network" ]}}' style = 'text-decoration: none; color: inherit;')
                .card.p-1
                    .card-body.p-0(style = 'background: linear-gradient(0deg, rgb(255, 198, 147) 0%, rgb(254, 245, 239, 0.1) 100%);')
                        .col-12.d-flex.align-items-end.justify-content-between.p-0.m-0(style = 'height: 70%;')
                            html {% if i.get('game') %}
                            img(src = '{{ i["game"]["icon_url"] }}' height = '50vh' style = 'margin-bottom: 10%; margin-left: 10%;')
                            html {% else %}
                            img(src = '' height = '50vh' style = 'margin-bottom: 10%; margin-left: 10%;')
                            html {% endif %}
                            img(src = '{{ i["mii"]["face"] }}' height = '100vh')
                        .col-12.rounded-9.text-center.p-0.m-0(style = 'height: 30%; background-color: #FFF')
                            | {{ i['username'] }}
            html {% endfor %}
