# macOS
.DS_Store

# Python
venv/
__pycache__/

# IDEs
.vscode/
.idea/

# Private
private*.*
private*/
*key*.*
cache/

# Tests
test*.*
test*/

# Build files
build/
dist/
setup.py
*.spec

# DB
*.db

# NPM
node_modules
.DS_Store

# Templates/static
server/static/
server/templates/dist/
