footer.py-4.bg-light.mt-auto
    .container-fluid.px-4
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | Copyright &copy; 3DS-RPC 2025
            .text-muted
                | By using this service, you agree to the
                a(href='/terms') Terms of Service
