// 
// Custom variables
// 

@use "sass:color";
@import "pkg:bootstrap";

// Z index variables
$zindex-content: 1037 !default;
$zindex-sidenav: 1038 !default;
$zindex-topnav: 1039 !default;

// Color variables for the sidenav

// -- Sidenav Dark
$sidenav-dark-bg: #FC8C2C;
$sidenav-dark-color: color.change($white, $alpha: 0.5);
$sidenav-dark-heading-color: #fff;
$sidenav-dark-link-color: color.change($white, $alpha: 0.8);
$sidenav-dark-link-active-color: $white;
$sidenav-dark-icon-color: color.change($white, $alpha: 0.8);
$sidenav-dark-footer-bg: #ff6d08;

// -- Sidenav Light
$sidenav-light-bg: $gray-100;
$sidenav-light-color: $gray-900;
$sidenav-light-heading-color: $gray-500;
$sidenav-light-link-color: $sidenav-light-color;
$sidenav-light-link-active-color: $primary;
$sidenav-light-icon-color: $gray-500;
$sidenav-light-footer-bg: $gray-200;

// Color variables for the topnav
$topnav-dark-toggler-color: color.change($white, $alpha: 0.5);
$topnav-light-toggler-color: $gray-900;

// Spacing variables for navigation
$topnav-base-height: 56px;
$sidenav-base-width: 225px;
