//
// Fixed dashboard layout
//
@use "../variables" as *;

.sb-nav-fixed {
  background: repeating-linear-gradient(
    0deg,
    #DADAD7,
    #DADAD7 2px,
    #E2E2E7 2px,
    #E2E2E7 4px
  );
  //background-color: #D3D3D0;
    .sb-topnav {
        @extend .fixed-top;
        z-index: $zindex-topnav;
    }

    #layoutSidenav {
        #layoutSidenav_nav {
            @extend .fixed-top;
            width: $sidenav-base-width;
            height: 100vh;
            z-index: $zindex-sidenav;

            .sb-sidenav {
                padding-top: $topnav-base-height;

                .sb-sidenav-menu {
                    overflow-y: auto;
                }
            }
        }

        #layoutSidenav_content {
            padding-left: $sidenav-base-width;
            top: $topnav-base-height;
        }
    }
}
