nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion

    .sb-sidenav-menu

        .nav

            .sb-sidenav-menu-heading
                | Dashboard

            a.nav-link(href='/')
                .sb-nav-link-icon
                    i.fas.fa-house-user
                | Home

            .sb-sidenav-menu-heading
                | Preferences

            a.nav-link(href='/settings')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Settings

    .sb-sidenav-footer(id = 'uptime-section')

        html
          <p class = 'small'>Frontend has been up for {{ data['uptime'] }}...</p>
          <p class = 'small'>{{ data['nintendo-uptime-backend'] }}</p>
          <p class = 'small'>{{ data['pretendo-uptime-backend'] }}</p>
          <p style = 'color:#fff;'>Status: {{ data['status'] }}</p>
        
        .small
          b
            a(href = 'https://github.com/MCMi460/3DS-RPC', target = '_blank') See on Github
