// Optionally, add white background to here as well. card.mb-X
h1.mt-4 #{pageTitle}
if index
    ol.breadcrumb.mb-4
        li.breadcrumb-item.active #{pageTitle}
else
    ol.breadcrumb.mb-4
        li.breadcrumb-item
            a(href='/') Home
        li.breadcrumb-item.active #{pageTitle}
